//color
.u-color-main {
    color: var(--main-color);
    border-color: var(--main-color);
}
.u-color-sub {
    color: var(--sub-color);
    border-color: var(--sub-color);
}
.u-color-red {
    color: var(--user-red-color);
    border-color: var(--user-red-color);
}
.u-color-blue {
    color: var(--user-blue-color);
    border-color: var(--user-blue-color);
}
.u-color-green {
    color: var(--user-green-color);
    border-color: var(--user-green-color);
}
.u-color-yellow {
    color: var(--user-yellow-color);
    border-color: var(--user-yellow-color);
}
.u-color-white {
    color: white;
    border-color: white;
}
.u-color-black {
    color: var(--font-color);
    border-color: var(--font-color);
}
//background-color
.u-bg-color-main {
    background-color: var(--main-color);
}
.u-bg-color-sub {
    background-color: var(--sub-color);
}
.u-bg-color-red {
    background-color: var(--user-red-color);
}
.u-bg-color-blue {
    background-color: var(--user-blue-color);
}
.u-bg-color-green {
    background-color: var(--user-green-color);
}
.u-bg-color-yellow {
    background-color: var(--user-yellow-color);
}
.u-bg-color-white {
    background-color: white;
}
.u-bg-color-black {
    background-color: var(--font-color);
}
//border-color
.u-border-main {
    border-color: var(--main-color);
}
.u-border-sub {
    border-color: var(--sub-color);
}
.u-border-red {
    border-color: var(--user-red-color);
}
.u-border-blue {
    border-color: var(--user-blue-color);
}
.u-border-green {
    border-color: var(--user-green-color);
}
.u-border-yellow {
    border-color: var(--user-yellow-color);
}
.u-border-white {
    border-color: white;
}
.u-border-black {
    border-color: var(--font-color);
}

