//font-size
.u-fs-08 {
    font-size: 0.8em;
}
.u-fs-09 {
    font-size: 0.9em;
}
.u-fs-12 {
    font-size: 1.2em;
}
.u-fs-15 {
    font-size: 1.5em;
}
.u-fs-20 {
    font-size: 2em;
}
.u-fs-25 {
    font-size: 2.5em;
}
.u-fs-30 {
    font-size: 3em;
}
.u-fs-35 {
    font-size: 3.5em;
}
//font-weight
.u-fw-light {
    font-weight: 300;
}
.u-fw-bold {
    font-weight: 700;
}
//line-height
.u-lh-0 {
    line-height: 0;
}
.u-lh-05 {
    line-height: .5;
}
.u-lh-08 {
    line-height: .8;
}
.u-lh-12 {
    line-height: 1.2;
}
.u-lh-15 {
    line-height: 1.5;
}
//text-align
.u-text-left {
    text-align: left;
}
.u-text-right {
    text-align: right;
}
.u-text-center {
    text-align: center;
}
