//display
.u-d-inline {
    display: inline;
}
.u-d-inline-block {
    display: inline-block;
}
.u-d-block {
    display: block;
}
.u-d-grid {
    display: grid;
}
.u-d-table {
    display: table;
}
.u-d-table-row {
    display: table-row;
}
.u-d-table-cell {
    display: table-cell;
}
.u-d-flex {
    display: flex;
}
.u-d-inline-flex {
    display: inline-flex;
}
.u-d-none {
    display: none;
}
//PC OR SP only display
@media screen and (max-width: 959px) {
    .u-pc-only {
        display: none;
    }
}
@media screen and (min-width: 960px) {
    .u-sp-only {
        display: none;
    }
}
//flex-wrap
.u-flex-wrap {
    flex-wrap: wrap;
}
.u-flex-nowrap {
    flex-wrap: nowrap;
}
.u-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
//flex-direction
.u-flex-row {
    flex-direction: row;
}
.u-flex-column {
    flex-direction: column;
}
.u-flex-row-reverse {
    flex-direction: row-reverse;
}
.u-flex-column-reverse {
    flex-direction: column-reverse;
}
@media screen and (max-width: 959px) {
    .u-sp-flex-row {
        flex-direction: row;
    }
    .u-sp-flex-column {
        flex-direction: column;
    }
    .u-sp-flex-row-reverse {
        flex-direction: row-reverse;
    }
    .u-sp-flex-column-reverse {
        flex-direction: column-reverse;
    }    
}
//justify-content
.u-justify-content-start {
    justify-content: flex-start;
}
.u-justify-content-end {
    justify-content: flex-end;
}
.u-justify-content-center {
    justify-content: center;
}
.u-justify-content-between {
    justify-content: space-between;
}
.u-justify-content-around {
    justify-content: space-around;
}
.u-justify-content-evenly {
    justify-content: space-evenly;
}
//align-items
.u-align-items-start {
    align-items: flex-start;
}
.u-align-items-end {
    align-items: flex-end;
}
.u-align-items-center {
    align-items: center;
}
.u-align-items-baseline {
    align-items: baseline;
}
.u-align-items-stretch {
    align-items: stretch;
}
//position
.u-position-static {
    position: static;
}
.u-position-relative {
    position: relative;
}
.u-position-absolute {
    position: absolute;
}
.u-position-fixed {
    position: fixed;
}
.u-position-sticky {
    position: -webkit-sticky;
    position: sticky;
}
//width
.u-w-100 {
    width: 100%;
}
.u-w-80 {
    width: 80%;
}
.u-w-75 {
    width: 75%;
}
.u-w-60 {
    width: 60%;
}
.u-w-50 {
    width: 50%;
}
.u-w-40 {
    width: 40%;
}
.u-w-30 {
    width: 30%;
}
.u-w-25 {
    width: 25%;
}
.u-w-20 {
    width: 20%;
}    
@media screen and (max-width: 959px) {
    .u-sp-w-100 {
        width: 100%!important;
    }
    .u-sp-w-80 {
        width: 80%!important;
    }
    .u-sp-w-75 {
        width: 75%!important;
    }
    .u-sp-w-60 {
        width: 60%!important;
    }
    .u-sp-w-50 {
        width: 50%!important;
    }
    .u-sp-w-40 {
        width: 40%!important;
    }
    .u-sp-w-30 {
        width: 30%!important;
    }
    .u-sp-w-25 {
        width: 25%!important;
    }
    .u-sp-w-20 {
        width: 20%!important;
    }    
}
//height
.u-h-100 {
    height: 100%;
}
.u-h-80 {
    height: 80%;
}
.u-h-75 {
    height: 75%;
}
.u-h-60 {
    height: 60%;
}
.u-h-50 {
    height: 50%;
}
.u-h-40 {
    height: 40%;
}
.u-h-30 {
    height: 30%;
}
.u-h-25 {
    height: 25%;
}
.u-h-20 {
    height: 20%;
}
@media screen and (max-width: 959px) {
    .u-sp-h-100 {
        height: 100%!important;
    }
    .u-sp-h-80 {
        height: 80%!important;
    }
    .u-sp-h-75 {
        height: 75%!important;
    }
    .u-sp-h-60 {
        height: 60%!important;
    }
    .u-sp-h-50 {
        height: 50%!important;
    }
    .u-sp-h-40 {
        height: 40%!important;
    }
    .u-sp-h-30 {
        height: 30%!important;
    }
    .u-sp-h-25 {
        height: 25%!important;
    }
    .u-sp-h-20 {
        height: 20%!important;
    }    
}
//max-width-height
.u-mw-100 {
    max-width: 100%;
}
.u-mh-100 {
    max-height: 100%;
}
//centering
.u-centering {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.u-centering-x {
    left: 50%;
    transform: translateX(-50%);
}
.u-centering-y {
    top: 50%;
    transform: translateY(-50%);
}
//transition
.u-transition-03 {
    transition: .3s;
}
.u-transition-05 {
    transition: .5s;
}
.u-transition-1 {
    transition: 1s;
}
.u-transition-2 {
    transition: 2s;
}
.u-transition-3 {
    transition: 3s;
}
//z-index
.u-z-index-1 {
    z-index: 1;
}
.u-z-index-2 {
    z-index: 2;
}
.u-z-index-3 {
    z-index: 3;
}
.u-z-index-10 {
    z-index: 10;
}
.u-z-index-99 {
    z-index: 99;
}
.u-z-index-999 {
    z-index: 999;
}
.u-z-index-9999 {
    z-index: 9999;
}
.u-z-index--1 {
    z-index: -1;
}
//top-right-bottom-left
.u-t-0 {
    top: 0;
}
.u-r-0 {
    right: 0;
}
.u-b-0 {
    bottom: 0;
}
.u-l-0 {
    left: 0;
}
.u-t-25 {
    top: 25%;
}
.u-r-25 {
    right: 25%;
}
.u-b-25 {
    bottom: 25%;
}
.u-l-25 {
    left: 25%;
}
.u-t-50 {
    top: 50%;
}
.u-r-50 {
    right: 50%;
}
.u-b-50 {
    bottom: 50%;
}
.u-l-50 {
    left: 50%;
}
.u-t-75 {
    top: 75%;
}
.u-r-75 {
    right: 75%;
}
.u-b-75 {
    bottom: 75%;
}
.u-l-75 {
    left: 75%;
}
//border
.u-border-light {
    border: 1px solid var(--main-color);
}
.u-border {
    border: 2px solid var(--main-color);
}
.u-border-bold {
    border: 3px solid var(--main-color);
}
.u-border-top {
    border-top: 2px solid var(--main-color);
}
.u-border-right {
    border-right: 2px solid var(--main-color);
}
.u-border-bottom {
    border-bottom: 2px solid var(--main-color);
}
.u-border-left {
    border-left: 2px solid var(--main-color);
}
//border-radius {
.u-border-radius-5 {
    border-radius: 5px;
}
.u-border-radius-10 {
    border-radius: 10px;
}
.u-border-radius-15 {
    border-radius: 15px;
}
.u-border-radius-20 {
    border-radius: 20px;
}
.u-border-radius-25 {
    border-radius: 25px;
}
.u-border-radius-50 {
    border-radius: 50%;
}
//opacity
.u-opacity-0 {
    opacity: 0;
}
.u-opacity-05 {
    opacity: .5;
}
.u-opacity-1 {
    opacity: 1;
}
//overflow
.u-overflow-visible {
    overflow: visible;
}
.u-overflow-hidden {
    overflow: hidden;
}
//object-fit
.u-object-fit-contain {
    object-fit: contain;
}
.u-object-fit-cover {
    object-fit: cover;
}
.u-object-fit-scale-down {
    object-fit: scale-down;
}
.u-object-fit-none {
    object-fit: none;
}